@model Course

@if(Model == null)
{
    <div>Error: No course found with that id.</div>
}
else
{
    <h1>@Model.Title</h1>

    <h3>Students</h3>
    <ul>
        @foreach(Student s in Model.Students)
        {
            <li>@s.StudentName</li>
        }
    </ul>
}
